{% extends "layout.html" %}

{% block content %}
    <div class="profile-card">
        <div class="profile-photo">
            <img src="{{ url_for('static', filename='images/' + current_user.profile_pic if current_user.profile_pic else'') }}" alt="Profile Photo">
        </div>
        <div class="profile-info">
            <h2>{{current_user.fullname}}</h2>
            <p>{{ current_user.bio }}</p>
            <p>Following: {{ current_user.following_users|length }}</p>
            <p>Follower: {{ current_user.follower_users|length }}</p>
            <a class="btn btn-primary" href="{{ url_for('edit') }}">Edit Profile</a>
        </div>
    </div>

    <div class="image-container">
        {% for post in posts %}
        <div class="image-item"><img src="{{ url_for('static', filename='' + post.photo) }}" alt="Post Image"></div>
        {% endfor %}
    </div>


    <style>
    .body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    }

    .profile-card {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        margin-bottom: 20px;
    }

    .profile-photo img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
    }

    .profile-info {
        flex: 1;
        margin-left: 20px;
    }

    .profile-info h2 {
        margin: 0;
        font-size: 24px;
    }

    .profile-info p {
        margin: 5px 0;
    }

    .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3897f0;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }

    </style>
{% endblock content %}